{% extends 'layouts/base.html' %}

{% block title %}Liste des représentations{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul>
    {% for representation in representations %}
        <li>
            <time datetime="{{ representation.schedule|date:'c' }}">
                {{ representation.schedule|date:'Y-m-d' }}
            </time>
            - {{ representation.show.title }}

            {% if representation.location %}
                - <span>{{ representation.location.designation }}</span>
            {% elif representation.show.location %}
                - <span>{{ representation.show.location.designation }}</span>
            {% else %}
                - <em>Pas de lieu</em>
            {% endif %}

            <a href="{% url 'catalogue:representation-show' representation.id %}">&#128065;</a>
        </li>
    {% empty %}
        <li>Aucune représentation disponible.</li>
    {% endfor %}
    </ul>
{% endblock %}
