<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet réservations -{% block title %}Bienvenue{% endblock %}</title>
</head>
<body>
<div class="container"></div>
    <div id="messages">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}"
                {%endif %}>{{message}}</li>
            {%endfor%}
        </ul>
        {%endif%}
    </div>
    {% block content %}{% endblock %}


</body>
</html>