<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet réservations -{% block title %}Bienvenue{% endblock %}</title>
</head>
<body>
<div class="container"></div>
    <header>
        <div style="float:right">
            {% if request.user.is_authenticated %}
            <p>Bnjour {{ request.user.username }}!</p>
            <p><a href="{% url 'accounts:user-profile' %}">Mon profil</a></p>
            <p><a href="{% url 'catalogue:reservation-index' %}">Mes réservations</a></p>

            <form action = "{% url 'logout' %}" method ="post">
                {%csrf_token%}
                <button type="submit">Se déconnecter</button>
            </form>

            {% else %}
            <p>Vous n'êtes pas connecté.</p>

            <p><a href="{% url 'login' %}">Se connecter</a></p>
            <p><a href="{% url 'accounts:user-signup' %}">S'inscrire</a></p>

            {%endif%}
        </div>
    </header>
    <div id="messages">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}"
                {%endif %}>{{message}}</li>
            {%endfor%}
        </ul>
        {%endif%}
    </div>
    {% block content %}{% endblock %}


</body>
</html>
