{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ locality.postal_code }} {{ locality.locality|title }}</h2>

    <h3>Lieux de spectacle</h3>

    <ul>
    {% for location in locality.locations.all %}
        <li><a href="#">{{ location.designation }}</a></li>
    {% endfor %}
    </ul>

    <p><code>{{ locality.locations.all }}</code></p>


    <nav><a href="{% url 'catalogue:locality-index' %}">Retour à l'index</a></nav>
{% endblock %}
